alembic
black
coloredlogs
debugpy
dictdiffer
freezegun
humanize
ijson
json-merge-patch
mock
mypy
pip-tools
psycopg2-binary
pylint
pymongo
pytest
python-dotenv
pywatchman
smart_open
SQLAlchemy
sqlparse
types-mock
xmltodict
wheel
